.project {
  font-family: var(--f-1title);
  margin-left: 5rem;
}

.project > h3 {
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin: 3rem;
}

.portfolio-items {
  background: rgb(93, 93, 93);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: var(--c-black);
}

.portfolio-items:hover {
  border-color: rgb(255, 255, 255);
  background: transparent;
}

/* .project-img {

} */

.project-info {
  background: rgb(255, 255, 255);
}

.project-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
}

.project-links > a {
  color: var(--c-black);
}

.project-links > a:hover {
  color: rgb(81, 80, 80);
}

.project-links > ul {
  display: inline-flex;
  gap: 2rem;
  list-style-type: disc;
}

.project-title {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  padding: 20px;
}

.project-title > h3 {
  margin: 0;
}
.project-title > h4 {
  margin: 0;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
