.project {
  font-family: var(--f-1title);
  margin-left: 5rem;
}

.project > h3 {
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin: 3rem;
}

.portfolio-items {
  background: var(--c-grey);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: var(--c-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.portfolio-items:hover {
  background-color: var(--c-lightgrey);
}

img {
  object-fit: cover;
    width: 100%;
    height: 22rem;
}

.project-info {
  background: var(--c-white);
}

.project-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
}

.project-links > a {
  color: var(--c-black);
  font-size: 2rem;
}

.project-links > a:hover {
  color: var(--c-grey);
}

.project-links > ul {
  display: inline-flex;
  gap: 2rem;
  list-style-type: disc;
}

.project-title {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  padding: 20px;
}

.project-title > h3 {
  margin: 0;
  font-weight: 400;
}
.project-title > h4 {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .project-container {
    grid-template-columns: 3fr;
    gap: 1rem;
  }
  .portfolio-items {
    height: calc(78vh - 10px);
  }
}

@media screen and (max-width: 600px) {

  .project {
    margin-left: 15px;
  }

  .project > h3 {
    text-align: left;
    margin-left: 8rem;
  }

  .project-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin: 45px 15px;
  }

  .portfolio-items {
    height: calc(70vh - 10px);
  }

  .project-links {
    padding: 0 8px 0 8px;
  }

  .project-links > ul {
    gap: 22px;
    list-style-type: revert;
    font-size: 12px;
    padding-left: 18px;
  }

  .project-links > a {
    font-size: 22px;
  }
}
