.about {
  color: var(--c-black);
  padding: 5rem;
}

.about-name {
  font-family: var(--f-1title);
  font-size: var(--f-u30);
}

.about-title {
  font-family: var(--f-1title);
  font-size: var(--f-umax);
  font-weight: bold;
}

.about-more {
  padding-top: 3rem;
}

.about-more > a {
  font-family: var(--f-thin);
  font-size: var(--f-u25);
  color: var(--c-black);
  text-decoration: none;
  background-color: var(--c-brown);
  padding: 10px 30px;
}

.about-more > a:hover {
  color: var(--c-grey);
}


@media screen and (max-width: 600px) {
  .about-more {
    font-size: var(--f-u30);
  }

  .about-name {
    font-size: var(--f-u30);
  }

  .about-title {
    font-size: var(--f-u60);
  }

  .about {
    padding: 5rem 3rem;
  }

  .about-more > a {
    font-size: var(--f-u15);
    padding: 8px 16px;
  }
}
