.contact {
  font-family: var(--f-1title);
  margin-left: 15rem;
  bottom: var(--f-umax);
}

.contact h1 {
  font-size: var(--f-u20);
  padding-top: 5rem;
}

.contact-info {
  font-size: var(--f-u15);
  margin-left: 2rem;
  margin-top: 2rem;
  color: var(--c-black);
  font-family: var(--f-thin);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info > h3 > a {
  color: var(--c-black);
}

/* contact form */

.container-form {
  background-color: var(--c-lightbrown);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 4px;
  width: 90%;
}
.container-form > .form-input {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.text-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.text-input > label > input {
  border: 0;
  padding: 10px;
  border-radius: 3px;
  font-family: var(--f-thin);
  width: 100%;
  box-sizing: border-box;
}

.text-area-input {
  width: 100%;
}

.text-area-input > label > textarea {
  width: 100%;
  border: 0px;
  padding: 10px;
  border-radius: 3px;
  height: 100%;
  box-sizing: border-box;
  font-family: var(--f-thin);
}
.container-form > button {
  font-family: var(--f-thin);
  font-size: var(--f-u15);
  text-decoration: none;
  background-color: var(--c-brown);
  padding: 3px 25px;
  border: 0;
  border-radius: 3px;
}

.container-form > button:hover {
  color: var(--c-white);
}

/* socials */

.socials {
  margin-left: 5rem;
  margin-top: 4rem;
}

.socials-link {
  display: grid;
  padding: 20px 20px;
}

.socials-link > a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.socials-link > a:hover {
  color: var(--c-lightgrey);
}

.socials h2 {
  font-size: var(--f-u20);
}

@media screen and (max-width: 1024px) {
  .contact {
    margin-left: 5rem;
  }

  .container-form {
    align-items: unset;
    max-width: 30rem;
  }
  .container-form > .form-input {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    margin-left: 2rem;
  }

  .contact-info {
    margin-left: 0;
    margin-right: 2rem;
  }
}

/* dark mode */

@media (prefers-color-scheme: dark) {
  .contact-info {
    color: var(--c-beige);
  }
  .contact-info > h3 > a {
    color: var(--c-beige);
  }
  .container-form {
    background-color: var(--c-darkbrown);
  }
  .container-form > button {
    background-color: var(--c-darkbrown);
    border: 1px solid var(--c-beige);
  }
  .container-form > button:hover {
    background-color: white;
    color: var(--c-darkbrown);
  }
}
