@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Fredoka+One&family=Lato:wght@100&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Fredoka+One&family=Lato:wght@100;400&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Fredoka+One&family=Lato:wght@100;400&family=Lekton&family=Nunito:wght@200&display=swap');



:root {
	/* color */
  --c-brown: #BB8D58;
  --c-black: #000;
  --c-grey: #505050;
  --c-lightgrey: #787878;
  --c-white: #ffffff;

  /* font-size */
  --f-u8: 8px;
  --f-u10: 10px;
  --f-u15: 15px;
  --f-u20: 20px;
  --f-u25: 25px;
  --f-u30: 30px;
  --f-u50: 50px;
  --f-umax: 8rem;

  /* font-family */
  --f-thin: 'Nunito', sans-serif;
  --f-1title: 'Lato', sans-serif;
  --f-cv: 'Lekton', sans-serif;
}

/* lines */

.main-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 10px solid var(--c-brown);
}

.small-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid var(--c-brown);
}


/* navbar */

body {
  color: var(--c-black);
  background-color: #F8F7F4;
  position: relative;
  margin: 0;
}

.navbar {
  border-style: solid;
  height: 0;
  width: 100%;
}

.links-navbar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  position: relative;
  padding: 1rem 3rem 0 0;
  font-family: var(--f-thin);
  font-size: var(--f-u25);
}


.parallelogram {
position: absolute;
    border-bottom: 61px solid transparent;
    border-right: 309px solid black;
    border-top: 0 solid transparent;
    right: 0;
}


/* footer */

.footer {
  text-align: center;
  font-family: var(--f-thin);
  margin: 6rem 0 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.title-footer {
  font-size: var(--f-u8);
}

.built-with-footer {
  font-size: var(--f-u10);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
  white-space: pre;
}

.built-with-footer > a {
  text-decoration: none;
  color: var(--c-black);
  top: 2px;
  position: relative;
}
